<?xml version="1.0"?>

<!-- 
  Adapted from:
  https://github.com/ros-controls/ros2_control_demos/blob/07a897f2c123065f1b283966ef7b1b2e30704ded/ros2_control_demo_description/r6bot/urdf/inc/create_link.xacro
 -->

<robot xmlns:xacro="http://wiki.ros.org/xacro">

  <xacro:macro name="create_link" params="
    link_name
    mesh_package
    mesh_name
  ">
    <link name="${link_name}">
      <visual>
        <origin xyz="0 0 0" rpy="0 0 0"/>
        <geometry>
          <mesh filename="package://${mesh_package}/meshes/visual/${mesh_name}.stl"/>
        </geometry>
      </visual>
      <collision>
        <origin xyz="0 0 0" rpy="0 0 0"/>
        <geometry>
          <mesh filename="package://${mesh_package}/meshes/visual/${mesh_name}.stl"/>
        </geometry>
      </collision>
    </link>
  </xacro:macro>
</robot>