<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">
    <xacro:macro name="cobot0_ros2_control" params="
      name
      initial_positions_file

      cobot0_serial_port
      cobot0_baud_rate
    ">
        <xacro:property name="initial_positions" value="${load_yaml(initial_positions_file)['initial_positions']}"/>

        <ros2_control name="${name}" type="system">
            <hardware>
                <plugin>ar3_hardware_interface/AR3HardwareInterface</plugin>
                <param name="serial_port">${cobot0_serial_port}</param>
                <param name="baud_rate">${cobot0_baud_rate}</param>
                <param name="prefix">cobot0</param>
              </hardware>

            <joint name="cobot0_joint_0">
                <command_interface name="position"/>
                <command_interface name="velocity"/>
                <state_interface name="position">
                  <param name="initial_value">${initial_positions['cobot0_joint_0']}</param>
                </state_interface>
                <state_interface name="velocity"/>
            </joint>
            <joint name="cobot0_joint_1">
                <command_interface name="position"/>
                <command_interface name="velocity"/>
                <state_interface name="position">
                  <param name="initial_value">${initial_positions['cobot0_joint_1']}</param>
                </state_interface>
                <state_interface name="velocity"/>
            </joint>
            <joint name="cobot0_joint_2">
                <command_interface name="position"/>
                <command_interface name="velocity"/>
                <state_interface name="position">
                  <param name="initial_value">${initial_positions['cobot0_joint_2']}</param>
                </state_interface>
                <state_interface name="velocity"/>
            </joint>
            <joint name="cobot0_joint_3">
                <command_interface name="position"/>
                <command_interface name="velocity"/>
                <state_interface name="position">
                  <param name="initial_value">${initial_positions['cobot0_joint_3']}</param>
                </state_interface>
                <state_interface name="velocity"/>
            </joint>
            <joint name="cobot0_joint_4">
                <command_interface name="position"/>
                <command_interface name="velocity"/>
                <state_interface name="position">
                  <param name="initial_value">${initial_positions['cobot0_joint_4']}</param>
                </state_interface>
                <state_interface name="velocity"/>
            </joint>
            <joint name="cobot0_joint_5">
                <command_interface name="position"/>
                <command_interface name="velocity"/>
                <state_interface name="position">
                  <param name="initial_value">${initial_positions['cobot0_joint_5']}</param>
                </state_interface>
                <state_interface name="velocity"/>
            </joint>

            <joint name="cobot0_gripper">
                <command_interface name="position"/>
                <state_interface name="position">
                  <param name="initial_value">${initial_positions['cobot0_gripper']}</param>
                </state_interface>
            </joint>

            <joint name="cobot0_joint_0_bias">
                <command_interface name="position"/>
                <state_interface name="position">
                  <param name="initial_value">0</param>
                </state_interface>
            </joint>
            <joint name="cobot0_joint_1_bias">
                <command_interface name="position"/>
                <state_interface name="position">
                  <param name="initial_value">0</param>
                </state_interface>
            </joint>
            <joint name="cobot0_joint_2_bias">
                <command_interface name="position"/>
                <state_interface name="position">
                  <param name="initial_value">0</param>
                </state_interface>
            </joint>
            <joint name="cobot0_joint_3_bias">
                <command_interface name="position"/>
                <state_interface name="position">
                  <param name="initial_value">0</param>
                </state_interface>
            </joint>
            <joint name="cobot0_joint_4_bias">
                <command_interface name="position"/>
                <state_interface name="position">
                  <param name="initial_value">0</param>
                </state_interface>
            </joint>
            <joint name="cobot0_joint_5_bias">
                <command_interface name="position"/>
                <state_interface name="position">
                  <param name="initial_value">0</param>
                </state_interface>
            </joint>
        </ros2_control>
    </xacro:macro>
</robot>
