<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">
    <xacro:macro name="two_cobots_ros2_control" params="
      name
      initial_positions_file

      cobot0_serial_port
      cobot0_baud_rate

      cobot1_serial_port
      cobot1_baud_rate
    ">
        <xacro:property name="initial_positions" value="${load_yaml(initial_positions_file)['initial_positions']}"/>

        <!-- COBOT 0 -->
        <ros2_control name="cobot0_ros2_control" type="system">
            <hardware>
                <plugin>ar3_hardware_interface/AR3HardwareInterface</plugin>
                <param name="serial_port">${cobot0_serial_port}</param>
                <param name="baud_rate">${cobot0_baud_rate}</param>
                <param name="prefix">cobot0</param>
            </hardware>
            <joint name="cobot0_joint_0">
                <command_interface name="position"/>
                <command_interface name="velocity"/>
                <state_interface name="position">
                  <param name="initial_value">${initial_positions['cobot0_joint_0']}</param>
                </state_interface>
                <state_interface name="velocity"/>
            </joint>
            <joint name="cobot0_joint_1">
                <command_interface name="position"/>
                <command_interface name="velocity"/>
                <state_interface name="position">
                  <param name="initial_value">${initial_positions['cobot0_joint_1']}</param>
                </state_interface>
                <state_interface name="velocity"/>
            </joint>
            <joint name="cobot0_joint_2">
                <command_interface name="position"/>
                <command_interface name="velocity"/>
                <state_interface name="position">
                  <param name="initial_value">${initial_positions['cobot0_joint_2']}</param>
                </state_interface>
                <state_interface name="velocity"/>
            </joint>
            <joint name="cobot0_joint_3">
                <command_interface name="position"/>
                <command_interface name="velocity"/>
                <state_interface name="position">
                  <param name="initial_value">${initial_positions['cobot0_joint_3']}</param>
                </state_interface>
                <state_interface name="velocity"/>
            </joint>
            <joint name="cobot0_joint_4">
                <command_interface name="position"/>
                <command_interface name="velocity"/>
                <state_interface name="position">
                  <param name="initial_value">${initial_positions['cobot0_joint_4']}</param>
                </state_interface>
                <state_interface name="velocity"/>
            </joint>
            <joint name="cobot0_joint_5">
                <command_interface name="position"/>
                <command_interface name="velocity"/>
                <state_interface name="position">
                  <param name="initial_value">${initial_positions['cobot0_joint_5']}</param>
                </state_interface>
                <state_interface name="velocity"/>
            </joint>
            <joint name="cobot0_gripper">
                <command_interface name="position"/>
                <state_interface name="position">
                  <param name="initial_value">${initial_positions['cobot0_gripper']}</param>
                </state_interface>
            </joint>
        </ros2_control>
        
          
        <!-- COBOT 1 -->
        <ros2_control name="cobot1_ros2_control" type="system">
            <hardware>
                <plugin>ar3_hardware_interface/AR3HardwareInterface</plugin>
                <param name="serial_port">${cobot1_serial_port}</param>
                <param name="baud_rate">${cobot1_baud_rate}</param>
                <param name="prefix">cobot1</param>
            </hardware>
            <joint name="cobot1_joint_0">
                <command_interface name="position"/>
                <command_interface name="velocity"/>
                <state_interface name="position">
                  <param name="initial_value">${initial_positions['cobot1_joint_0']}</param>
                </state_interface>
                <state_interface name="velocity"/>
            </joint>
            <joint name="cobot1_joint_1">
                <command_interface name="position"/>
                <command_interface name="velocity"/>
                <state_interface name="position">
                  <param name="initial_value">${initial_positions['cobot1_joint_1']}</param>
                </state_interface>
                <state_interface name="velocity"/>
            </joint>
            <joint name="cobot1_joint_2">
                <command_interface name="position"/>
                <command_interface name="velocity"/>
                <state_interface name="position">
                  <param name="initial_value">${initial_positions['cobot1_joint_2']}</param>
                </state_interface>
                <state_interface name="velocity"/>
            </joint>
            <joint name="cobot1_joint_3">
                <command_interface name="position"/>
                <command_interface name="velocity"/>
                <state_interface name="position">
                  <param name="initial_value">${initial_positions['cobot1_joint_3']}</param>
                </state_interface>
                <state_interface name="velocity"/>
            </joint>
            <joint name="cobot1_joint_4">
                <command_interface name="position"/>
                <command_interface name="velocity"/>
                <state_interface name="position">
                  <param name="initial_value">${initial_positions['cobot1_joint_4']}</param>
                </state_interface>
                <state_interface name="velocity"/>
            </joint>
            <joint name="cobot1_joint_5">
                <command_interface name="position"/>
                <command_interface name="velocity"/>
                <state_interface name="position">
                  <param name="initial_value">${initial_positions['cobot1_joint_5']}</param>
                </state_interface>
                <state_interface name="velocity"/>
            </joint>
            <joint name="cobot1_gripper">
                <command_interface name="position"/>
                <state_interface name="position">
                  <param name="initial_value">${initial_positions['cobot1_gripper']}</param>
                </state_interface>
            </joint>

        </ros2_control>
    </xacro:macro>
</robot>
